<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true">

	<variable name="localLogDirectory" value="${specialfolder:folder=LocalApplicationData}/KRSrcWorkflow/Logs"/>
	<variable name="filename" value="KRSrcWorkflow-${machinename}-${processname}-${environment:variable=UserName}"/>

	<targets async="true">
		<target name="workflow_local"
						xsi:type="File"
						archiveFileName="${localLogDirectory}/${filename}_{##}.log"
						fileName="${localLogDirectory}/${filename}.log"
						archiveAboveSize="1000000"
						maxArchiveFiles="10"
						archiveNumbering="Rolling"
						autoFlush="true"
						layout="${date:format=yyyMMdd|HHmmss}|${level}|${processname}|${callsite}|${message}|${exception:format=tostring}" />
		<target name="workflow_console"
						xsi:type="Console"
						layout="${date:format=yyyMMdd|HHmmss}|${level}|${processname}|${callsite}|${message}|${exception:format=tostring}" />
	</targets>

	<rules>
		<!--		<logger name="*" minlevel="Debug" writeTo="safile_local" /> -->
		<logger name="*" maxlevel="Fatal" minlevel="Trace" writeTo="workflow_local" />
		<logger name="*" maxlevel="Fatal" minlevel="Trace" writeTo="workflow_console" />
	</rules>

</nlog>
