<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConfigurationServerHost" value="LIDEVWS0002762" />
		<add key="ConfigurationServerWCFPort" value="8001" />
		<add key="ProcessorControllerWCFPort" value="8002" />
	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
