<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StrozData" type="docuity.framework.StrozConfig, StrozFoundation" />
  </configSections>
  <appSettings>
    <add key="PMMainView.Text" value="Stroz Discovery" />
    <!-- Application mode-->
    <add key="Debuging" value="Y" />
    <add key="Production" value="Y" />
    <add key="Tracing" value="N" />
    <add key="OCRTracing" value="N" />
    <add key="DatabaseTracing" value="N" />
    <add key="ImportElectronicTracing" value="N" />
    <add key="CheckFileSizesOnFileCopy" value="Y" />
    <!--   TraceLevel=1: Trace database event and error event;  TraceLevel=2: Trace error event only; TraceLevel=3: Trace fatal error event only-->
    <add key="TraceLevel" value="3" />
    <!--   Configuration file locations and names -->
    <add key="DocuityTraceHome" value="trace" />
    <add key="DocuityConfigHome" value="" />
    <add key="DocuityTempHome" value="c:\DocuityTemp" />
    <add key="DocuityFileRoboCopyHome" value="c:\y" />
    <add key="DocuityDirectoryRoboCopyHome" value="c:\z" />
    <add key="DocuityExtractHtmlTempHome" value="c:\Temp01" />
    <add key="DocuityTiffGenTempHome" value="c:\Temp01" />
    <add key="BlackIceTempHome" value="c:\BlackIceTemp" />
    <add key="GlobalConfigHome" value="GlobalConfig" />
    <add key="GlobalConfigFileName" value="GlobalParams.xml" />
    <add key="OCRConfigHome" value="OCRConfig" />
    <add key="OCRConfigFileName" value="OCRParams.xml" />
    <add key="TDEConfigHome" value="TDEConfig" />
    <add key="TDEConfigFileName" value="TDEParams.xml" />
    <add key="XmlConfigHome" value="XmlConfig" />
    <add key="XmlConfigFileName" value="XmlParams.xml" />
    <add key="TiffGenConfigHome" value="TiffGenConfig" />
    <add key="TiffGenConfigFileName" value="TiffGenParams.xml" />
    <add key="DedupConfigHome" value="DedupConfig" />
    <add key="DedupConfigFileName" value="DedupParams.xml" />
    <add key="BoxCreationOptionsConfigHome" value="BoxCreationConfig" />
    <add key="BoxCreationOptionsConfigFileName" value="BoxCreationOptions.xml" />
    <add key="ImageDedupConfigFileName" value="ImageDedupParams.xml" />
    <add key="CopyDocToFolderConfigHome" value="CopyDocToFolderConfig" />
    <add key="CopyDocToFolderConfigFileName" value="CopyDocToFolderParams.xml" />
    <add key="FilterDocByDateConfigHome" value="FilterDocByDateConfig" />
    <add key="FilterDocByDateConfigFileName" value="FilterDocByDateParams.xml" />
    <add key="FilterExtRevDocConfigHome" value="FilterExtRevDocConfig" />
    <add key="FilterExtRevDocConfigFileName" value="FilterExtRevDocParams.xml" />
    <add key="FilterExtractHTMLDocConfigHome" value="FilterExtractHTMLDocConfig" />
    <add key="FilterExtractHTMLDocConfigFileName" value="FilterExtractHTMLDocParams.xml" />
    <add key="FilterPlainTextConfigHome" value="FilterPlainTextConfig" />
    <add key="FilterPlainTextConfigFileName" value="FilterPlainTextParams.xml" />
    <add key="ExportConfigHome" value="ExportConfig" />
    <add key="ExportConfigFileName" value="ExportParams.xml" />
    <add key="ExtractHtmlConfigHome" value="ExtractHtmlConfig" />
    <add key="ExtractHtmlConfigFileName" value="ExtractHtmlParams.xml" />
    <add key="R2aConfigHome" value="R2aConfig" />
    <add key="R2aConfigFileName" value="R2aParams.xml" />
    <add key="ImportElectronicConfigHome" value="ImportElectronicConfig" />
    <add key="ImportElectronicConfigFileName" value="ImportElectronicParams.xml" />
    <add key="ImportDocumentConfigHome" value="ImportDocumentConfig" />
    <add key="ImportDocumentConfigFileName" value="ImportDocumentParams.xml" />
    <add key="ExtractOutlookDataConfigHome" value="ExtractOutlookDataConfig" />
    <add key="ExtractOutlookDataConfigFileName" value="ExtractOutlookDataParams.xml" />
    <add key="ExtractMicrosoftDataConfigHome" value="ExtractMicrosoftDataConfig" />
    <add key="ExtractMicrosoftDataConfigFileName" value="ExtractMicrosoftDataParams.xml" />
    <add key="DocumentReviewConfigHome" value="DocReviewConfig" />
    <add key="DocumentReviewConfigFileName" value="DocReviewParams.xml" />
    <add key="ReleaseToReviewConfigHome" value="DocReviewConfig" />
    <add key="ReleaseToReviewConfigFileName" value="ReleaseToReviewParams.xml" />
    <add key="TiffGenQCConfigHome" value="TiffGenQCConfig" />
    <add key="TiffGenQCConfigFileName" value="TiffGenQCParams.xml" />
    <add key="LogicalPDFGenConfigHome" value="LogicalPDFGenConfig" />
    <add key="LogicalPDFGenConfigFileName" value="LogicalPDFGenParams.xml" />
    <add key="FolderFilterConfigHome" value="FolderFilterConfig" />
    <add key="FolderFilterConfigFileName" value="FolderFilterParams.xml" />
    <add key="ScanConfigHome" value="ScanConfig" />
    <add key="SlipSheetConfigHome" value="SlipSheetConfig" />
    <add key="AutoCodeConfigHome" value="AutoCodeConfig" />
    <add key="AutoCodeConfigFileName" value="AutoCodeParams.xml" />
    <add key="UnitizeConfigHome" value="UnitizeConfig" />
    <add key="UnitizeConfigFileName" value="UnitizeParams.xml" />
    <add key="SlipSheetsFileName" value="SlipSheets.xml" />
    <add key="ProjectDatabaseScriptFileName" value="db scripts\project.sql" />
    <add key="ProjectOrgReviewDatabaseScriptFileName" value="db scripts\projectReview.sql" />
    <add key="ProjectOrgReviewDatabaseProceduresScriptFileName" value="db scripts\projectReviewScripts.sql" />
    <add key="AnalyzeDatabaseLocksScriptFileName" value="db scripts\AnalyzeDatabaseLocks.sql" />
    <add key="ProjectDatabaseProceduresScriptFileName" value="db scripts\projectScripts.sql" />
    <add key="GlobalDedupTableScriptFileName" value="db scripts\GlobalDedupTableScripts.sql" />
    <add key="WarmTouchCodingFieldsFileName" value="WarmTouchCodingFields.txt" />
    <add key="PMWatcherHeartBeatFileName" value="PMWatcher\HeartBeat.txt" />
    <add key="PMWatcherHome" value="PMWatcher" />
    <add key="UsePegasusToSplitMergeImages" value="N" />
    <add key="CheckMachineCulture" value="Y" />
    <!-- Time Server-->
    <add key="RetryTimeServerCount" value="5" />
    <add key="TimeServerWaitSeconds" value="2" />
    <!-- Hotshot Viewer -->
    <add key="HOTSHOTVIEWER_PATH" value="C:\Program Files\Docuity\HotShot Viewer Demo\Document Viewer.exe" />
    <add key="HotShotViewerHome" value="C:\Program Files\Docuity\HotShot Viewer Demo" />
    <add key="HotShotViewerMode" value="Production" />
    <add key="HotShotViewerDelay" value="3000" />
    <!-- Create Box Options -->
    <add key="DefaultBoxType" value="Electronic" />
    <add key="DefaultBoxOrganization" value="Docuity" />
    <add key="EdocFilesPerBoxThreshold" value="5000" />
    <add key="PstSizePerBoxThreshold" value="2000000000" />
    <add key="MbxSizePerBoxThreshold" value="2000000000" />
    <add key="GetFolderSize" value="Y" />
    <!--   UI preferences -->
    <add key="DisplayDocCountPerNode" value="500" />
    <add key="NumbPagesToSkip" value="10" />
    <add key="DefaultImportLogical" value="Y" />
    <add key="DefaultImportLogicalCreateAttachment" value="Y" />
    <add key="MaxLogDocInfoTextDisplaySize" value="10000" />
    <add key="MaxHtmlDisplayFileSize" value="2500000" />
    <add key="MaxTDEDocTextDisplaySize" value="2500000" />
    <add key="MaxXMLBodyTextDisplaySize" value="100000000" />
    <add key="MaxWordDocSaveHtmlWordCount" value="10000" />
    <add key="MaxWordExtractedHtmlFileSize" value="5000000" />
    <add key="MaxDocumentHighlightsDisplayCount" value="15000" />
    <add key="MaxHtmlDisplayFileSizeInDocReview" value="2500000" />
    <add key="ExtractHtmlManualHolderReasons" value="Password Protected File,Corrupted File,Empty File,Unsupported File Type,File Will Be Printed With Tiffgen" />
    <add key="ImportElectronicManualHolderReasons" value="Password Protected File,Corrupted File,Empty File,Unsupported File Type" />
    <add key="TiffgenManualHolderReasons" value="Password Protected File,Corrupted File,Empty File,Unsupported File Type,File Produced In Native" />
    <add key="MboxArchiveFromLinesList" value="From -,From ?,!Thread-" />
    <!--   Scan options -->
    <add key="SlipSheetCbxRatio" value="2" />
    <add key="BatchScanShowImage" value="Y" />
    <add key="ScanImagesFilePath" value="c:\docuity\scan" />
    <add key="NumPagesInSubDirectory" value="1000" />
    <add key="MinPageSize" value="2000" />
    <add key="DefaultScanner2" value="IS330DC(SCSI/IEEE1394)" />
    <add key="DefaultScanner" value="Kodak Document Imaging Scanner" />
    <add key="ScanSettingsFileName2" value="default.xml" />
    <add key="ScanSettingsFileName" value="Kodak3520.xml" />
    <add key="UseScanner" value="N" />
    <add key="HideScanDocButton" value="N" />
    <add key="NumbPagesToSkip" value="10" />
    <add key="ScanSlipSheetNameMaxLength" value="6" />
    <!--   Scan slip sheet types -->
    <add key="ScanSlipSheetType_START_SINGLE_PAGE_PHYS_DOC" value="SSPPD" />
    <add key="ScanSlipSheetType_START_PHYS_DOC" value="START PHYSICAL DOCUMENT" />
    <add key="ScanSlipSheetType_START_LOG_DOC" value="SLD" />
    <add key="ScanSlipSheetType_END_PHYS_DOC" value="END PHYSICAL DOCUMENT" />
    <add key="ScanSlipSheetType_END_LOG_DOC" value="END LOGICAL DOCUMENT" />
    <add key="ScanSlipSheetType_START_PHYS_ATT" value="START PHYSICAL ATTACHMENT" />
    <add key="ScanSlipSheetType_END_PHYS_ATT" value="END PHYSICAL ATTACHMENT" />
    <add key="ScanSlipSheetType_START_LOG_ATT" value="START LOGICAL ATTACHMENT" />
    <add key="ScanSlipSheetType_END_LOG_ATT" value="END LOGICAL ATTACHMENT" />
    <add key="ScanSlipSheetType_SET_BATES_PREFIX" value="SBP" />
    <add key="ScanSlipSheetType_SET_BATES_NUMBER" value="SBN" />
    <add key="ScanSlipSheetType_SET_BATES_SUFFIX_ALPHA" value="SBSA" />
    <add key="ScanSlipSheetType_SET_BATES_SUFFIX_NUMBER" value="SBSN" />
    <add key="ScanSlipSheetType_SET_NEXT_PAGE_CHAR" value="SNPC" />
    <add key="ScanSlipSheetType_SET_ALL_PAGE_CHAR" value="SAPC" />
    <!-- System level options -->
    <add key="GarbageCollectionThreshold" value="50000000" />
    <add key="ImagePrinterName" value="Black Ice ColorPlus" />
    <add key="PDFPrinterName" value="Adobe PDF" />
    <!-- PegasusImaging -->
    <add key="PS_PW1" value="1908224365" />
    <add key="PS_PW2" value="373676816" />
    <add key="PS_PW3" value="1341881223" />
    <add key="PS_PW4" value="41909" />
    <add key="SuperUserLogin" value="N" />
    <add key="ExtractLotusNotesItemHtml" value="N" />
    <add key="LotusNotesDisableEmailMapping" value="Y" />
    <add key="LotusNotesMaxApplicationUsage" value="10" />
    <add key="LotusNotesNoTypeSubstitute" value="LN_MEMO" />
    <add key="LotusNotesDirectory" value="C:\Program Files\lotus\notes" />
    <add key="ABBYYFineReaderEngineNotLicensedMessage" value="ABBYY FineReader Engine is not licensed" />
    <add key="ImportElectronicCopyEmailArchiveFile" value="Y" />
    <add key="ImportElectronicDeleteItemUponComplete" value="N" />
    <add key="ImportOutlookExcludeMapiFields" value="Y" />
    <add key="OpenMSFilesUsingThread" value="N" />
    <add key="CloseMSFilesUsingThread" value="N" />
    <add key="DefaultMSWordUsage" value="150" />
    <add key="DefaultMSExcelUsage" value="150" />
    <add key="DefaultMSOutlookUsage" value="50" />
    <add key="DefaultMSPowerPointUsage" value="150" />
    <add key="ImportElectronicOutlookAttachmentDelay" value="2000" />
    <add key="FatalWordFileOpenExceptions" value="server execution failed" />
    <add key="FatalExcelFileOpenExceptions" value="server execution failed" />
    <add key="FatalPowerPointFileOpenExceptions" value="server execution failed" />
    <add key="FatalOCRProcessExceptions" value="could not find file,was not found,sharing violation,used by another process,file copy exception,unable to open current image,could not find a part of the path" />
    <add key="FatalOCRProcessExceptionsExemptions" value="bad image file format" />
    <add key="HandleFileDate" value="UseParentDateTime" />
    <!--add key="HandleFileDate" value="Retain"/-->
    <!--add key="HandleFileDate" value="BlankOut"/-->
    <add key="ChooseEarliestDateFromMultiValueForMapping" value="Y" />
    <add key="ValidateFileDate_FutureTimeTolerance_Days" value="1" />
    <add key="ValidateFileDate_CurrentTimeTolerance_Minutes" value="60" />
    <add key="ExtractEmbeddedObjectsFromWord" value="Y" />
    <add key="ExtractEmbeddedObjectsFromExcel" value="Y" />
    <add key="ExtractEmbeddedObjectsFromPowerPoint" value="Y" />
    <add key="FilterUsingNistRdsDatabase" value="Y" />
    <add key="IndexCodingFieldBoxIdList" value="DOCTYPE" />
    <add key="IndexCodingFieldList" value="DOCDATE,T_DOCDATE,DOCDATETIME,LN_UNIVERSALID,LASTTAGGEDBY,LASTTAGGEDTIME,PRIMARYSECONDARYFLAG" />
    <add key="OverlayTextStrings" value="Redacted by Stroz Friedberg LLC;Confidential;Top Secret" />
    <add key="UseAppendHintInOracleQuery" value="Y" />
    <add key="CommitTiffGenInsertPagesNumber" value="0" />
    <add key="StartSqlLoaderInPM" value="N" />
    <add key="UseSqlLoaderToLoadTdeDocText" value="N" />
    <!--add key="TDEDocGenBigDocPagesThreshold" value="20000"/>-->
    <!--add key="TDEDocGenBigTextDocSizeThreshold" value="25000000"/>-->
    <!--add key="TiffGenUseSpoolerJobInfoToCheckPrintPageLimit" value="N"/-->
    <add key="DocumentDataTabLimit" value="15" />
    <add key="RetrievalLookupTables" value="" />
    <!--add key="QueryHint" value="FIRST_ROWS"/-->
    <!--add key="TabPageColor" value="Caption"/-->
    <add key="TabPageColor" value="Control" />
    <add key="LogoPctScreen" value="6" />
    <add key="NavigationTreeRegularWidthPct" value="10" />
    <add key="NavigationTreeWithNodesWidthPct" value="12" />
    <add key="GuidedSortTemplateItem1" value="Box, Document Family Order|BOXID,LOGDOCNOINBOX|BOXID,LOGDOCNOINBOX" />
    <add key="GuidedSortTemplateItem2" value="Date Order|DOCDATE|T_DOCDATE" />
    <add key="GuidedSortTemplateItem3" value="Title, Date Order|TITLE,DOCDATE|T_TITLE,T_DOCDATE" />
    <add key="GuidedSortTemplateItem4" value="Doctype, Date Order|DOCTYPE,DOCDATE|T_DOCTYPE,T_DOCDATE" />
    <add key="GuidedSortTemplateItem5" value="Document Family Date Order|ATTACH_DOCDATE,LOGDOCNOINBOX|ATTACH_DOCDATE,LOGDOCNOINBOX" />
    <add key="GuidedSortTemplateItem6" value="Custodian, Document Family Date Order|CUSTODIANNAME,ATTACH_DOCDATETIME,ATTACHID|CUSTODIANNAME,ATTACH_DOCDATETIME,ATTACHID" />
    <add key="XMLExclusionFieldList" value="ATTACH_DOCDATE,ATTACH_DOCDATETIME,ATTACH_DOCTYPE,ATTACH_AUTHOR,ATTACH_TITLE" />
    <add key="MessageAlertRefreshInterval" value="1" />
    <!-- in minutes -->
    <add key="TrackExtractShapeTextInfo" value="N" />
    <add key="AdjustForDaylightTime" value="Y" />
    <add key="DefaultImageResolutionForEmboss" value="300" />
    <add key="ShowProgressSplash" value="Y" />
    <!-- comma delimited hexidecimal values-->
    <add key="IgnoreHighbitCharacterCodes" value="85" />
    <add key="AutoLogonPassword" value="1lbLzUh5oD0=" />
    <add key="RestartAppTiffgenDocCount" value="5000" />
    <add key="RestartAppXMLGenOnDocFailure" value="Y" />
    <add key="RestartAppExtractHtmlDocCount" value="2000" />
    <add key="RestartAppEmbeddedObjectsCount" value="5000" />
    <add key="RestartAppExtractOutlookDataDocCount" value="2000" />
    <add key="RestartAppPrepareProductionPageCount" value="5000" />
    <add key="RestartAppExtractMicrosoftDataDocCount" value="5000" />
    <add key="RestartAppExtractOutlookMetaDataDocCount" value="20000000" />
    <add key="EmbeddedObjectReprocessErrors" value="COULD NOT ACTIVATE OLE OBJECT;CANNOT CREATE ACTIVEX COMPONENT" />
    <add key="EnableDeleteLogicalDocument" value="N" />
    <add key="SelectActiveOutlookFolder" value="N" />
    <add key="OutlookDefaultProfile" value="OUTLOOK" />
    <add key="OutlookDefaultProfileRootFolder" value="PERSONAL FOLDERS DOCUITY" />
    <add key="MatchMapiMessageRecipients" value="N" />
    <add key="NumberOfDocumentsPerCommit" value="10000" />
    <add key="OracleKeywordsBulkInsertUnit" value="1000" />
    <add key="AssociativeArraysMinUseThreshold" value="2" />
    <add key="FilterHtmlUseInsoFilter" value="Y" />
    <add key="FilterHtmlWebBrowserExtractText" value="Y" />
    <add key="RecordExceptionDocumentEvents" value="N" />
    <add key="CheckCodingProcedure" value="N" />
    <add key="PMApplicationUserName" value="efd" />
    <add key="SystemLoginUserName" value="efd" />
    <add key="ReprocessDedupDisableWriteBack" value="Y" />
    <add key="ReprocessDedupDupContents" value="DupContents2" />
    <add key="ReprocessDedupDupContentsSource" value="DupContentsSource2" />
    <add key="HTMLPipelineTiffAll" value="N" />
    <add key="ProcessMonitorTopMost" value="N" />
    <add key="HTMLPipelineStopAtTiffgen" value="N" />
    <add key="HTMLPipelineInitOCREngineImmediate" value="Y" />
    <add key="UseDongleServer" value="Y" />
    <add key="DongleServerPort" value="5555" />
    <add key="TiffgenWordDocumentDelay" value="1000" />
    <add key="ExtractHtmlWordDocumentDelay" value="1000" />
    <add key="OpenWordDocumentInvisibleOnIngest" value="Y" />
    <add key="OpenWordDocumentInvisibleOnExtractHtml" value="Y" />
    <add key="UseLaunchPM" value="N" />
    <add key="StopImportElectronicExceptions" value="Can not open store" />
    <add key="SecureFileCopyApplication" value="ROBOCOPY" />
    <!-- ROBOCOPY, XXCOPY -->
    <add key="LanguageIDEngine" value="Polyglot" />
    <!-- Polyglot, Word -->
    <add key="DefaultRemoteOCRServerListenerPort" value="1500" />
    <add key="RefreshRemoteOCRHubListAttemptCount" value="100" />
    <add key="RefreshRemoteOCRHubListPageCount" value="200" />
    <add key="BoxLockForNextMinDocTimeSpanExceedWarning" value="5" />
    <add key="BoxLockForOtherTimeSpanExceedWarning" value="5" />
    <add key="GeneralLockTimeSpanExceedWarning" value="5" />
    <add key="InvalidCharacterWarningPercentageThreshold" value="10" />
    <add key="PunctuationMarkWarningPercentageThreshold" value="50" />
    <add key="SaveJPEGChromFactor" value="30" />
    <!-- Color Quality : 0-255 -->
    <add key="SaveJPEGLumFactor" value="24" />
    <!-- GrayScale Quality: 0-255 -->
    <add key="CodingFieldsSortAsNumber" value="NUMPAGESTRANSLATED" />
    <add key="ExtractPlainTextCheckOutputMaxSize" value="100000" />
    <!-- MultiValueCodingFieldFix value should be ',' delimited -->
    <add key="MultiValueCodingFieldFix" value="" />
    <add key="MultiValueCodingFieldSeparator" value="253" />
    <add key="StickyNoteAreaExpansionFactorPercent" value="25" />
    <add key="NumberOfOracleThemesToFetch" value="100" />
    <!-- 0 - fetch ALL themes -->
    <add key="SystemBoxNames" value="ZZ,_CULLING_EXCEPTIONS" />
    <add key="SystemFolderNames" value="EXCEPTION DOCUMENTS,CLASSIFICATION DOCUMENTS" />
    <add key="MaxDocumentGridCacheSize" value="32000" />
    <add key="IRMTextSearchDefault" value="DocumentBodyAndFields" />
    <add key="FolderMappingDelimiter" value=";" />
    <add key="InvalidIssueTagCharacters" value="\*\(\)\{\}\[\]\/\\\?" />
    <add key="InvalidIssueTagCharacterReplacement" value="Z_" />
    <add key="ImportDocumentInvalidField" value="CUSTODIANNAME,DOCTYPE" />
    <add key="DisplayWarningForUTF8NullCharacter" value="Y" />
    <add key="ValidateDocumentTextBeforeDisplaying" value="Y" />
    <add key="ValidateDocumentTextMaxSpotCheckCount" value="5" />
    <add key="ValidateDocumentTextInvalidCharsPercent" value="50" />
    <add key="DynamicOCRDeskewImage" value="Y" />
    <add key="DynamicOCRDetectOrientation" value="N" />
    <add key="PaulWeissLextranetFolderStructure" value="N" />
    <!-- Possible values are "CENTER" and "LOWER_RIGHT"-->
    <add key="ProgressSplashPosition" value="LOWER_RIGHT" />
    <add key="ConvertDateTimeCodingFieldsToGMT" value="DBVS_SENTONGMT,DBVS_RECEIVEDTIMEGMT" />
    <add key="CodingGroupNamesForSubjectiveCoding" value="TDE SUBJECTIVE CODING,TDE PRIVILEGE FILTER" />
    <add key="SearchableCodingFields" value="AUTHOR,BCC,CC,RECIP,TITLE,DOCDATE,MESSAGEATTACHMENTFILENAMES,OL_RECEIVEDTIME,LN_RECEIVED,FILE_CREATIONTIME,FILE_LASTACCESSTIME,FILE_LASTWRITETIME,NATIVEFILEPATH,FILE_NAME,MSFILE_SUBJECT,MSFILE_CATEGORY,MSFILE_COMPANY,MSFILE_KEYWORDS,MSFILE_COMMENTS,MSFILE_PRINTEDTIME" />
    <add key="RamDriveTempFolder" value="R:\TEMP" />
    <add key="SyncTextIndexDegreeOfParallelism" value="4" />
    <add key="CreateTextIndexDegreeOfParallelism" value="4" />
    <add key="OptimizeTextIndexDegreeOfParallelism" value="4" />
    <add key="WarmTouchApp" value="C:\Program Files\WarmTouch\WarmTouch.exe" />
    <add key="ArchiveCommandLineAppicationTimeoutIntervalInMinutes" value="10" />
    <add key="StrozAnalyticsPath" value="C:\src\Stroz Source\ECA\Stroz Analytics\bin\Debug\strozAnalytics.exe" />
    <!-- ConfigOverrides, replaced by StrozFoundation install. -->
    <add key="Deployment" value="Production" />
    <add key="DeploymentAnswers" value="" />
    <add key="UsePMWatcher" value="Y" />
    <add key="DefaultTimeServerName" value="docuity.com" />
    <add key="LotusNotesINIFilePath" value="C:\Program Files\lotus\notes" />
    <add key="UseIndexHintInTDEFieldInfoQuery" value="N" />
    <add key="MaxPagesInteractivePrint" value="300" />
    <add key="TextIndexMemory" value="250m" />
    <add key="DefaultTimeZoneSetting" value="(GMT-05:00) Eastern Time (US &amp; Canada)" />
    <add key="UseTimeZoneSetting" value="Y" />
    <add key="RepaintImageDuringScroll" value="Y" />
    <!-- Possible values are "CSDiff" and "UltraCompare"-->
    <add key="CompareFilesApplication" value="CSDiff" />
    <add key="RetryServerCount" value="10" />
    <add key="DongleServerName" value="DEVAPP01:33000:0001" />
    <add key="RestartCommandDirectory" value="\\devfs02\K\AutoPM\PM Commands" />
    <add key="StrozAnalyticsBuildServers" value="youruser:yourpass@10.158.1.12:8082" />
    <add key="StrozAnalyticsRuntimeServers" value="youruser:yourpass@10.158.1.13:xxxx" />
    <add key="SDTraceRoot" value="\\devfs02\K\trace" />
  </appSettings>
  <StrozData>
    <DBServers>
			<DBServer Name="PMUK01P_CLI" OracleFilter="Keyview" DBDataFileLocation="+ORADGDAT" DBDataFileSize="100" EnableTablespaceCompression="true" UnicodeSupport="true" Platform="Unix" Default="true" UseRACNodes="false" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
				<Schemas>
					<Schema Application="Admin" User="HSAdminu1" Password="HSAdminu1" />
					<Schema Application="Util" User="nistrds" Password="nistrds" />
					<Schema Application="Billing" User="EDGACT" Password="EDGACT" />
				</Schemas>
			</DBServer>
			<DBServer Name="pmu01t_doc" OracleFilter="Keyview" DBDataFileLocation="+ORADGDAT" DBDataFileSize="100" EnableTablespaceCompression="true" UnicodeSupport="true" Platform="Unix" Default="false" UseRACNodes="true" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="hsadmint1" Password="hsadmint1" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
      <DBServer Name="pmu01t2" OracleFilter="Keyview" DBDataFileLocation="+ORADGDAT" DBDataFileSize="100" EnableTablespaceCompression="true" UnicodeSupport="true" Platform="Unix" Default="false" UseRACNodes="true" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="hsadmint1" Password="hsadmint1" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
      <DBServer Name="pmu01t1" OracleFilter="Keyview" DBDataFileLocation="+ORADGDAT" DBDataFileSize="100" EnableTablespaceCompression="true" UnicodeSupport="true" Platform="Unix" Default="false" UseRACNodes="true" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="hsadmint1" Password="hsadmint1" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
      <DBServer Name="pmu01t_cli" OracleFilter="Keyview" DBDataFileLocation="+ORADGDAT" DBDataFileSize="100" EnableTablespaceCompression="true" UnicodeSupport="true" Platform="Unix" Default="false" UseRACNodes="false" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="hsadmint1" Password="hsadmint1" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
      <DBServer Name="orcl64b" OracleFilter="Keyview" DBDataFileLocation="e:\oradatatest" DBDataFileSize="10" EnableTablespaceCompression="true" UnicodeSupport="true" Platform="Windows" Default="false" UseRACNodes="false" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="HSAdminu1" Password="HSAdminu1" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
      <DBServer Name="orcl64a" OracleFilter="Keyview" DBDataFileLocation="e:\oradatatest" DBDataFileSize="10" EnableTablespaceCompression="true" UnicodeSupport="false" Platform="Windows" Default="false" UseRACNodes="false" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="HSAdminx1" Password="HSAdminx1" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
      <DBServer Name="jli" OracleFilter="Keyview" DBDataFileLocation="C:\oracle\oradata" DBDataFileSize="10" EnableTablespaceCompression="true" UnicodeSupport="true" Platform="Windows" Default="false" UseRACNodes="false" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="HSAdmin1" Password="HSAdmin1" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
      <DBServer Name="mike1" OracleFilter="" DBDataFileLocation="C:\oradata_test" DBDataFileSize="10" EnableTablespaceCompression="true" UnicodeSupport="true" Platform="Windows" Default="false" UseRACNodes="false" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="HSAdmin2" Password="HSAdmin2" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
      <DBServer Name="orcljl" OracleFilter="" DBDataFileLocation="C:\oracle\product\10.1.0\oradata" DBDataFileSize="10" EnableTablespaceCompression="false" UnicodeSupport="false" Platform="Windows" Default="false" UseRACNodes="false" ConnectionPooling="true" MaxConnectionSize="50" DocumentGroupCount="50">
        <Schemas>
          <Schema Application="Admin" User="HSAdmin7" Password="HSAdmin7" />
          <Schema Application="Util" User="nistrds" Password="nistrds" />
          <Schema Application="Billing" User="EDGACT" Password="EDGACT" />
        </Schemas>
      </DBServer>
    </DBServers>
  </StrozData>
</configuration>